/* 
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  width: 84%;
  margin: 0 auto;
}
section {
  margin-top: 120px;
}
.sub-heading {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.red-sub {
  color: #f00;
}
.black-sub {
  color: #070211;
}
.common-heading {
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  color: #070211;
  padding: 20px 0;
}
.common-pera {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #07021199;
  line-height: 28px;
}
.button {
  padding: 18px 32px;
  color: #fff;
  background-color: #ff0000;
  border: 2px solid transparent;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 26px;
  transition: 0.3s;
}
.button:hover {
  border: 2px solid #ff0000;
  color: #ff0000;
  background-color: #fff;
  transition: 0.3s;
}
/* header style */
header {
  margin-top: 50px;
}
.header {
  width: 100%;
  height: 600px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content {
  font-family: "Merriweather", serif;
  color: #fff;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.header-content h5 {
  font-size: 34px;
}
.header-content h1 {
  font-size: 76px;
  font-weight: 900;
  margin-top: 30px;
}
/* deal section style */
.deal-content {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.deal-content h2 {
  font-size: 76px;
  font-weight: 700;
  color: #ff0000;
}
.deal-content p {
  font-size: 20px;
  font-weight: 500;
  color: #ff0000;
  margin-top: 50px;
  margin-bottom: 20px;
}
.deal-content h3 {
  font-size: 42px;
  font-weight: 700;
  color: #070211;
}
.deal-img {
  text-align: center;
  padding-top: 50px;
}
/* welcome section style */
.welcome-bg {
  width: 100%;
  height: 600px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/welcome.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-content {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.welcome-text h2 {
  font-family: "Merriweather", serif;
  font-size: 60px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 7px;
}
.welcome-text p {
  font-family: "Inter", sans-serif;
  color: #ffffffcc;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 26px 80px 40px 0;
}
.welcome-text a {
  color: #fff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
}
/* location */
.location-bg {
  width: 100%;
  height: 482px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.location-content {
  font-family: "Inter", sans-serif;
}
.location-content p {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  color: #070211;
  margin-bottom: 18px;
}
.location-content p span {
  color: #ff0000;
}

/* coming */
.coming-content {
  display: flex;
  justify-content: center;
}
.coming-left {
  flex-basis: 33%;
  padding-right: 60px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.coming-middle {
  flex-basis: 42%;
  display: flex;
  justify-content: center;
}
.circular-img {
  border: 14px solid red;
  padding: 30px;
  border-radius: 100%;
}
.circular-img img {
  width: 350px;
}
.coming-right {
  flex-basis: 25%;
  padding-left: 80px;
  justify-content: end;
  display: flex;
  flex-direction: column;
}
.new-year-img {
  width: 140px;
}
.new-year-img img {
  width: 100%;
}
.coming-right h3 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 700;
}
.coming-right p {
  padding: 20px 0 30px 0px;
}
/* discount */
.discount-content {
  font-family: "Inter", sans-serif;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.discount-heading {
  font-family: "Merriweather", serif;
  font-size: 60px;
  font-weight: 900;
  margin: 20px 0px 30px;
}
.discount-content p {
  font-weight: 500;
}
.discount-heading span {
  color: #ff0000;
}
.discount-pictures {
  padding-top: 70px;
}
.discount-value {
  text-align: end;
  position: relative;
}

.circle-discount {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-100%, -50%);
}

.discount-red {
  margin-top: -4px;
  position: relative;
}
.discount-red img {
  width: 100%;
}
.discount-box {
  position: absolute;
  top: -158%;
  left: 50px;
  width: 650px;
}
/* gallery */
.gallery-content {
  width: 68%;
}
.gallery-images {
  display: flex;
  gap: 20px 20px;
  flex-wrap: wrap;
  margin-top: 60px;
}
.gallery-item {
  width: 32%;
  margin: 0 auto;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
}
.gallery-item img {
  width: 100%;
  transition: 0.5s;
}
.gallery-item img:hover {
  transform: scale(1.3) rotate(5deg);
  transition: 0.5s;
}
/* newsletter */
.newsletter-content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.letter-text {
  width: 70%;
  margin: 0 auto;
}
.letter-text h4 {
  margin: 20px 0px 10px;
}
.form {
  margin-top: 50px;
}
.form input {
  padding: 20px 30px;
  height: 60px;
  width: 440px;
  border-radius: 50px 0px 0px 50px;
  border: 0;
  outline: none;
  color: rgba(7, 2, 17, 0.3);
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
.form input::placeholder {
  color: rgba(7, 2, 17, 0.3);
}
.form button {
  padding: 0 20px;
  width: 210px;
  height: 60px;
  margin-left: -10px;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  border-radius: 0px 50px 50px 0px;
  color: #fff;
  background-color: #ff0000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}
.form button:hover {
  color: #ff0000;
  background-color: #fff;
  border: 2px solid #ff0000;
}
footer {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #070211;
  font-weight: 500;
  margin-top: 120px;
  padding: 120px 0px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
.horizontal-line {
  width: 100%;

  height: 1px;
  background: #ffffff26;
}
.footer-street p {
  width: 300px;
  line-height: 30px;
}
.footer-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px 40px 0px;
}

.contact-img {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}
.contact-img img {
  margin-right: 10px;
}
.footer-social {
  text-align: center;
  padding: 40px 0px;
}
.footer-social img {
  margin: 0 10px;
  transition: 0.3s;
}
.footer-social img:hover {
  transform: scale(0.8);
  transition: 0.3s;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.footer-info a,
.contact-img a {
  transition: 0.3s;
}
.footer-info a:hover,
.contact-img a:hover {
  color: #ff0000;
  transition: 0.3s;
}
