/* 
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 86%;
  margin: 0 auto;
}
/* header style */
header {
  margin-top: 50px;
}
.header {
  width: 100%;
  height: 600px;

  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");

  background-repeat: no-repeat;
  border-radius: 16px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content {
  font-family: Merriweather;
  color: #fff;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.header-content h5 {
  font-size: 30px;
}
.header-content h1 {
  font-size: 70px;
  font-weight: 900;
  margin-top: 30px;
}
